<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AGB</title>
    <link href="../static/login-new.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
</head>
<body>


<div class="wrapper fadeInDown">
  <div id="formContent" style="text-align: left; padding: 10px; height: 100vh; overflow: auto; width: 100% !important;">
1. Zweck: <br>Der Zweck der Plattform SEP besteht darin, Menschen miteinander zu verbinden und die Kommunikation sowie den Austausch von Informationen, Ideen und Medien zu erleichtern.<br><br>

2. Benutzerprofile: <br>Jeder Benutzer wird ein persönliches Profil haben, in dem er Informationen über sich selbst angeben kann, einschließlich seines Namens, Profilbilds, einer Kurzbeschreibung und anderer relevanter Details.<br><br>

3. Neuigkeiten-Feed: <br>Die Plattform wird einen Neuigkeiten-Feed anzeigen, der Updates, Beiträge und Inhalte aus dem Netzwerk der Benutzer zeigt. Benutzer können durch den Feed scrollen, um die von anderen geteilten Inhalte anzusehen und mit ihnen zu interagieren.<br><br>

4. Beitrags-Erstellung: <br>Benutzer können Beiträge erstellen und veröffentlichen, die aus Texten, Fotos, Videos oder Links bestehen können. Sie können auch Hashtags hinzufügen, andere Benutzer markieren und die Zielgruppe für ihre Beiträge festlegen (öffentlich, nur für Freunde oder benutzerdefinierte Datenschutzeinstellungen).<br><br>

5. Interaktionen: <br>Benutzer haben die Möglichkeit, Beiträge zu liken, zu kommentieren und zu teilen. Sie können auch private Nachrichten an andere Benutzer senden, Gruppen und Veranstaltungen erstellen oder daran teilnehmen sowie anderen Benutzern folgen oder ihnen entfolgen, um ihren Neuigkeiten-Feed anzupassen.<br><br>

6. Benachrichtigungen: <br>Die Plattform stellt Benachrichtigungen für Aktivitäten wie das Erhalten neuer Likes, Kommentare, Freundschaftsanfragen oder Eventeinladungen bereit. Benutzer können ihre Benachrichtigungseinstellungen verwalten.<br><br>

7. Datenschutz und Sicherheit: <br>SEP legt großen Wert auf Benutzerdatenschutz und -sicherheit. Es wird Funktionen wie Datenschutzeinstellungen geben, um die Sichtbarkeit von Benutzerinformationen und -inhalten zu steuern. Es werden auch Sicherheitsmaßnahmen implementiert, um Benutzerdaten zu schützen und unbefugten Zugriff zu verhindern.<br><br>

8. Suche und Entdeckung: <br>Benutzer haben die Möglichkeit, nach anderen Benutzern, Seiten, Gruppen und Veranstaltungen basierend auf Stichwörtern oder spezifischen Kriterien zu suchen. Die Plattform kann auch Empfehlungen geben, damit Benutzer neue Inhalte oder Verbindungen basierend auf ihren Interessen und ihrem Netzwerk entdecken können.<br><br>

9. Mobilunterstützung: <br>SEP wird ein mobilfreundliches Design oder dedizierte mobile Apps haben, damit Benutzer von ihren Smartphones oder Tablets aus auf die Plattform zugreifen können.<br><br>

10. Meldesystem und Moderation: <br>Die Plattform wird ein Meldesystem und eine Moderation einführen, um gegen unangemessene Inhalte, Spam oder missbräuchliches Verhalten vorzugehen. Benutzer können Verstöße melden, und ein Moderationsteam wird diese überprüfen und erforderliche Maßnahmen ergreifen.
  </div>
</div>
<a href="http://www.freepik.com" style="display: none;">Designed by Freepik</a>
</body>
</html>