
{% include 'chat_bot.html' %}

<head>
    <title>Datensätze</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Crimson+Pro">

    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/Startpage.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="../static/datensaetze.js" defer></script>
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5" style="background: linear-gradient(to left, #000000 13%, #FFFFFF );">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img style="width: 80px; height: 80px;" src="../static/images/LogoF.png" alt="Logo">
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/dataset">Datensätze</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/diskussionen">Diskussionsforum</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mein Profil
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Hallo, {{ vorname }}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/profile/{{ username }}">Zur Profilansicht</a></li>
                        <li><a class="dropdown-item" href="/fav-datasets">Lieblingsdatensätze</a></li>
                        <li><a class="dropdown-item" href="/tickets">Support-Tickets</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/agb">AGBs</a></li>
                        <li><a class="dropdown-item" href="/logout">Abmelden</a></li>
                    </ul>
            </ul>
            <div class="d-flex" role="search" style="border: none; padding-top: 10px; margin-right: 40px;">
                <button style="background-color: black; color: white; border: none; border-radius: 9px; width: 100%;
                    transition: background-color 0.3s, color 0.3s;"
                        onmouseover="this.style.backgroundColor = 'white'; this.style.color = 'black';"
                        onmouseout="this.style.backgroundColor = 'black'; this.style.color = 'white';" onclick="HinzufügenAbbrechen();">
                    <span style="font-size: 22px;">+</span>
                    Datensatz hinzufügen
                </button>
            </div>
        </div>
    </div>
</nav>


<div class="create-ticket-container hidden" style="display: none;" id="add-ds-container">
    <center>
        <input class="text-input" placeholder="URL zum Datensatz" style="font-style:italic;" tabindex="1" name="ds-url" id="ds-url"/><br>
        <textarea class="text-input" placeholder="Beschreibung des Datensatzes" style="height: 20vh; margin-bottom: 14px; resize: none; font-style:italic;" tabindex="3" name="ds-desc" id="ds-desc"></textarea><br>
        <button class="create-ticket-button red-button" tabindex="5" onclick="HinzufügenAbbrechen();">Abbrechen</button>
        <button class="create-ticket-button green-button" tabindex="4" onclick="add_dataset();">Hinzufügen</button>
    </center>
</div>


<div class="container mb-5">
    <form class="d-flex" role="search" style="border: none; width: 100%">
        <a class="buttonSearch" style="border-radius: 6px; margin-right: 40px; text-decoration: none; color: white;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="/map">Kartenansicht</a>
        <input class="form-control me-2" type="search" placeholder="Datensätze suchen" id="suche">
        <button class="buttonSearch" style="border-radius: 6px; max-width: 150px">Suche</button>
        <div style="display: flex; align-items: center; margin-left: 20px">
            <label for="yearFilter">Jahr:</label>
            <input type="radio" id="yearFilter" name="filter" value="year" style="margin-left: 5px" >
            <label for="nameFilter" style="margin-left: 20px">Name:</label>
            <input type="radio" id="nameFilter" name="filter" value="name" style="margin-left: 5px">
        </div>
    </form>
</div>

{% for count in range(0, dataset_len) %}
<div class="container-lg slow-animation" id="{{ dataset[0][count] }}">
    <div class="row">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
            <div class="card-header"><img style="width: 22px; height: 22px;" src="../static/images/dataset.png" alt="icon">
                {{ dataset[0][count] }}
            </div>
            <div class="card-body">
                <h5 class="card-title" id="DSTitle-id-{{ dataset[0][count] }}">{{ dataset[0][count] }}</h5>
                {% if dataset[1][count] != "" %}
                    <p class="card-text" id="DSText-id-{{ dataset[0][count] }}">{{ dataset[1][count] }}</p>
                {% else %}
                    <p class="card-text" id="DSText-id-{{ dataset[0][count] }}">Keine Beschreibung vorhanden.</p>
                {% endif %}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button onclick="location.href='/dataset-single?dataset={{ dataset[0][count] }}'" class="buttonDat">Zum Datensatz</button>
                            <!-- Wenn aktueller tablename in Lieblingsdatenliste vorhanden ist: -->
                            <!-- dataset[0][count] ist aktueller tablename -->
                            {% if dataset[0][count] in fav_datasets %}
                                <!-- Wenn die aktuelle browser location mit dem tablename übereinstimmt, soll das herz springen -->
                                {% if current_location == dataset[0][count] %}
                                    <!-- Get auf die Seite mit aktuellem tablename als like attr -->
                                    <a href="/dataset?like={{ dataset[0][count] }}#{{ dataset[0][count] }}" class="like-button animated active" id="{{ dataset[0][count] }}" name="like" style="background: none; border: none; margin-top: 10px;">
                                        <svg width="40" height="40" viewBox="-2.4 -2.4 28.80 28.80" fill="#ce0267" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier_{{ dataset[0][count] }}" stroke-width="0"></g><g id="SVGRepo_tracerCarrier_{{ dataset[0][count] }}" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.144"></g><g id="SVGRepo_iconCarrier_{{ dataset[0][count] }}"><path d="M12.39 20.87a.696.696 0 0 1-.78 0C9.764 19.637 2 14.15 2 8.973c0-6.68 7.85-7.75 10-3.25 2.15-4.5 10-3.43 10 3.25 0 5.178-7.764 10.664-9.61 11.895z" fill="#ce0267"></path></g></svg>
                                    </a>
                                <!-- Wenn die aktuelle browser location mit dem tablename nicht übereinstimmt, soll das nicht herz springen -->
                                {% else %}
                                    <!-- Get auf die Seite mit aktuellem tablename als like attr -->
                                    <a href="/dataset?like={{ dataset[0][count] }}#{{ dataset[0][count] }}" class="like-button active" id="{{ dataset[0][count] }}" name="like" style="background: none; border: none; margin-top: 10px;">
                                        <svg width="40" height="40" viewBox="-2.4 -2.4 28.80 28.80" fill="#ce0267" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier_{{ dataset[0][count] }}" stroke-width="0"></g><g id="SVGRepo_tracerCarrier_{{ dataset[0][count] }}" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.144"></g><g id="SVGRepo_iconCarrier_{{ dataset[0][count] }}"><path d="M12.39 20.87a.696.696 0 0 1-.78 0C9.764 19.637 2 14.15 2 8.973c0-6.68 7.85-7.75 10-3.25 2.15-4.5 10-3.43 10 3.25 0 5.178-7.764 10.664-9.61 11.895z" fill="#ce0267"></path></g></svg>
                                    </a>
                                {% endif %}
                            <!-- Falls aktueller tablename nicht in lieblingsdaten vorhanden ist -->
                            {% else %}
                                <!-- Get auf die Seite mit aktuellem tablename als like attr -->
                                <a href="/dataset?like={{ dataset[0][count] }}#{{ dataset[0][count] }}" class="like-button" id="{{ dataset[0][count] }}" name="like" style="background: none; border: none; margin-top: 10px;">
                                    <svg width="40" height="40" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier_{{ dataset[0][count] }}" stroke-width="0"></g><g id="SVGRepo_tracerCarrier_{{ dataset[0][count] }}" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.144"></g><g id="SVGRepo_iconCarrier_{{ dataset[0][count] }}"><path d="M12.39 20.87a.696.696 0 0 1-.78 0C9.764 19.637 2 14.15 2 8.973c0-6.68 7.85-7.75 10-3.25 2.15-4.5 10-3.43 10 3.25 0 5.178-7.764 10.664-9.61 11.895z" fill="#000000"></path></g></svg>
                                </a>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
